@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(ancient-books-adorn-library-carefully-arranged-with-classics-rare-gems_157027-2332.avif);
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    color: white;
    background-color: #424040;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border: solid 2px white;
}

.main-content {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    padding: 50px 40px;
}

.main-content .text-area{
    font-size: 1.5rem;
    line-height: 1.5;

}
.main-content .person {
    color: red;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.button-area button {
    padding: 10px 15px;
    margin-top: 20px;
    color:white;
    background-color: #262626;
    border-radius: 10px;
    font-size: 1.3rem;
}


.button-area button:active{
    background-color: lightcoral;
}